/* GÉNÉRIQUE */
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/* ÉLÉMENTS */
body{
    margin: 0;
    padding: 0;
    font-family: "Dosis", "Roboto", sans-serif;
}




/* COMPONENTS */
/* wrapper */
.wrapper {
    max-width: 1280px;
    margin: auto;
}

/* header */