/* GÉNÉRIQUE */
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/* ÉLÉMENTS */
body{
    margin: 0;
    padding: 0;
    font-family: "Dosis", "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    font-family: "Dosis";
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.menu{
    font-family: "Dosis";
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.hero a{
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1{
    font-family: "Dosis";
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding-bottom: 10px;
}

h2{
    font-family: "Dosis";
    font-size: 36px;
    font-weight: bold;
    color: #0E5EA1;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 30px;
}

h3{
    font-family: "Dosis";
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

h3~p{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: normal;
    color: black;
    line-height: 160%;
    margin: 0;
    padding-bottom: 25px;
}

footer~p{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: normal;
    color: white;
}

/* COMPONENTS */
/* wrapper */
.wrapper {
    max-width: 1280px;
    margin: auto;
}

/* header */
header{
    padding-top: 25px;
    padding-bottom: 20px;
}

.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    gap: 30px;
}
.menu{
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a:hover{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #0E5EA1;
    color: white;
}

/* section hero */
.hero{
    background-image: url(../images/hero.jpg);
    background-size: cover;
    padding: 135px 0px;
    display: flex;
    justify-content: center;
}

.boite{
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
}

/* section contenu */
.contenu{
    background-color: #EEE;
}
.conteneur{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.conteneur article{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-bottom: 5px  #0E5EA1 solid;
}

.cta{
    align-self: center;
    margin-top: auto;
    background-color: #B7B7B7;
    font-family: "Dosis";
    font-size: 14px;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.cta:hover{
    background-color: #0E5EA1;
    color: white;
}


.banniere{
    padding-top: 80px;
    padding-bottom: 80px;
}

/* footer */
.footer{
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-align: center;
}

