/* GÉNÉRIQUE */
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/* ÉLÉMENTS */
body{
    margin: 0;
    padding: 0;
    font-family: "Dosis", "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    font-family: "Dosis";
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.menu{
    font-family: "Dosis";
    font-size: 16px;
    font-weight: bold;
    color: black;
}

h1{
    font-family: "Dosis";
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.hero a{
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
    color: white;
}


/* COMPONENTS */
/* wrapper */
.wrapper {
    max-width: 1280px;
    margin: auto;
}

/* header */
header{
    padding-top: 36px;
    padding-bottom: 36px;
}

.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    gap: 30px;
}
.menu{
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a:hover{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #0E5EA1;
    color: white;
}

/* section hero */
.hero{
    background-image: url(../images/hero.jpg);
    background-size: cover;
    padding: 135px 0px;
    display: flex;
    justify-content: center;
}

.boite{
    background-color: rgba(0, 0, 0, 50%);
}

/* section contenu */
.conteneur{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

article{
    display: flex;
    flex-direction: column;
}

.cta{
    align-self: center;
    margin-top: auto;
}